# Day 3 – Tuples, Dictionaries, and Sets

## Objective
Understand and practice Python data structures used to store and organize structured data.

## Tuples (Basics)

In [1]:
# Create a tuple and access elements

numbers = (10, 20, 30, 40, 50)

print(numbers[0])
print(numbers[1:4])

10
(20, 30, 40)

## Tuple Iteration

In [2]:
# Loop through a tuple

for num in numbers:
    print(num)

10
20
30
40
50

## Dictionary (Basics)

In [3]:
# Create a student dictionary

student = {
    "name": "Pradeep",
    "age": 21,
    "marks": 85
}

print(student)
print(student["name"])

{'name': 'Pradeep', 'age': 21, 'marks': 85}
Pradeep

## Update & Iterate Dictionary

In [4]:
# Update dictionary and iterate

student["marks"] = 90

for key, value in student.items():
    print(key, ":", value)

name : Pradeep
age : 21
marks : 90

## Nested Dictionary

In [6]:
# Nested dictionary example

students = {
    "student1": {"name": "A", "marks": 80},
    "student2": {"name": "B", "marks": 85}
}
print(students)
print(students["student1"]["marks"])

{'student1': {'name': 'A', 'marks': 80}, 'student2': {'name': 'B', 'marks': 85}}
80

## Sets (Basics)

In [7]:
# Create a set with duplicate values

data = {1, 2, 3, 3, 4, 5}
print(data)

{1, 2, 3, 4, 5}

## Set Operations

## Key Takeaways
- Tuples store fixed data that should not change
- Dictionaries store structured data using key–value pairs
- Sets are useful for handling unique values and comparisons
- Dictionaries are heavily used in data analysis and Pandas